<%= render 'shared/page_title', title: "Showing all recipes" %>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'recipe', obj: @recipes %>
<div align="center">
  <%= will_paginate %>
</div>
<div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Create your recipe", new_recipe_path %> ]
</div>
